{
  github: {
    token: 'value',
  },
  slack: {
    token: 'value',
    teamID: 'value',
  },
  figma: {
    token: 'value'
  },
  mcp_server_mysql: {
    host: '127.0.0.1',
    port: '3306',
    database: 'value',
    mysqlUser: 'value',
    mysqlPass: 'value',
  },
  backlog: {
    domain: 'value',
    token: 'value',
  }
}